.overlay {
  background: url('https://www.insuremytrip.com/images/en-us/bg-loading-popup.png') repeat scroll 0 0 transparent;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;

    color: white;

    .overlay-div {
      height: 100%;
    }

}